.poster-list
	display flex
	align-items center
	margin-top 20px
	font-size 20px

	&__part
		&--left
			margin-left 15px
			margin-right 20px
		&--right
			margin-right 10px

	&-item
		margin-bottom 1px

		&-photo
			size(128px)
			background-size cover
			background-position center
			border-radius 50%
			box-shadow 2px 5px 20px rgba(40, 20, 155, .8)

.poster-list-item__text
	border none
	background-color transparent
